---
import BaseLayout from "../layouts/BaseLayout.astro";
import { settings } from "../settings";
---

<BaseLayout>
  <section>
    <div class="container mx-auto px-4 relative my-10">
      <p class="my-4">Email signup successful!</p>
      <p class="my-4">Thank you for signing up.</p>
    </div>
  </section>
</BaseLayout>
